#include <zmk/keymap.h>

const uint32_t PROGMEM keymaps[][MATRIX_ROWS][MATRIX_COLS] = {
    [0] = LAYOUT(
        KC_TAB,      KC_QUOT,    KC_COMM,    KC_DOT,    KC_P,    KC_Y,    KC_F,    KC_G,
        KC_CAPS,     KC_A,       KC_O,       KC_E,      KC_U,    KC_I,    KC_D,    KC_H,
        KC_LSFT,     KC_SCOLON,  KC_Q,       KC_J,      KC_K,    KC_X,    KC_B,    KC_M,
        KC_LCTRL,    KC_LGUI,    KC_LALT,    KC_LALT,   KC_SPC,  KC_ENT,  KC_SPC,  KC_SPC
    )
};

const uint16_t PROGMEM fn_actions[] = {};

#ifdef OLED_DRIVER_ENABLE
oled_rotation_t oled_init_user(oled_rotation_t rotation) {
    return OLED_ROTATION_180;
}
#endif

bool process_record_user(uint16_t keycode, keyrecord_t *record) {
    switch (keycode) {
        case KC_SPC:
            if (record->event.pressed) {
                // Insert code to handle space key
            } else {
                // Insert code to handle space key released
            }
            break;
        // Handle other keycodes here
    }
    return true;
}
